body{
    background-color: white;
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: darkmagenta;
    text-decoration: none;

}
a:hover{
    color: darkgray;
    text-decoration: line;

}
main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;

}
h2{
    text-align: center;
}
img{
    width: 60%;
}
figure{
    text-align: center;
    font-style: italic;
}
